<div class="banner">
	<span class="banner-text">
		<h1 class="title">Not by the Cover</h1>
		<h6 class="subtitle">A better way to discover books</h6>
	</span>
</div>

<div class="explain-it-to-me">
	<h1 class="eli5-h1">So what's this all about?</h1>
	<p class="eli5">
		<span class="highlight">Not by its Cover</span> seeks to challenge the way we discover new books. Our whole lives we've been told not to judge a book by its cover, but let's face it, we're visual creatures. Our vision is our most powerful sense, and our world is abundant with bright colors and proverbial shiny spoons. Our visual acuity can be used against us in deceiving which qualities are most important.
	</p>

	<p class="eli5">
		This application provides an alternate and unique way to browse books. Only the most critical information is displayed to you at first. This allows you to gauge your own level of interest in a book not by the pretty cover, but by the things that matter most: plot and theme.
	</p>

	<p class="eli5">Try it out below!</p>
</div>

<app-random-book></app-random-book>
