<div class="random-book">
	<div class="col">
		<button class="random-button" (click)="pickRandom()">Random Book</button>
	</div>
	<div class="col" *ngIf="this.book">
		<div class="box">
			<div class="genre {{this.book.genre[0]}}">
				<h4 class="genre-title">{{ this.book.genre[0] }}</h4>
				<span class="tag-title">/</span>
				<span *ngFor="let tag of this.book.tags" class="tag">{{ tag }}</span>
			</div>
			<div class="book-card">
				<p>{{ this.book.plotShort }}</p>
				<a class="view-book-link {{this.book.genre[0]}}" routerLink="/book/{{this.book.urlTitle}}">
					View Book
				</a>
			</div>
		</div>
	</div>
</div>
